<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
   <link rel="icon" href="/img/iconmonstr-time-3-240.png">
  <title>About</title>
</head>
<body>
  <div class="main-content">
  {{>header}}
  <p id="About">A weather application made with Mapbox and weatherStack Api 
    For Backend: NodeJS, Express,
    For Creating Server: Express,
    For Frontend: Handlebars, HTML, CSS, Client-Side Javascript
  </p>
  </div>
    {{>footer}}
    
</body>
</html>